---
import type { INavigationLink } from '@/interfaces';

const { menu } = Astro.props as { menu: INavigationLink[] };
const { externalLinks } = Astro.props;
---

<div>
  <ul class="space-y-2 text-center">
    {
      menu.map((m) => (
        <li>
          <a
            href={m.url}
            class="hover:text-primary transition-colors text-sm"
            target={externalLinks ? '_blank' : '_self'}
          >
            {m.name}
          </a>
        </li>
      ))
    }
  </ul>
</div>
