---
import type { INavigationLink } from "@/interfaces";

const { menu } = Astro.props as { menu: INavigationLink[] };
---

<div>
  <ul class="space-y-2 text-center">
    {
      menu.map((m) => (
        <li>
          <a href={m.url} class="hover:text-primary transition-colors text-sm">
            {m.name}
          </a>
        </li>
      ))
    }
  </ul>
</div>
