html {
  @apply text-base;
}

body {
  @apply bg-body  font-primary font-normal leading-relaxed text-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-tight text-text-dark;
  /* @apply font-bold leading-tight text-text-dark; */
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4 font-medium;
}

h5,
.h5 {
  @apply text-h5 font-medium;
}

h6,
.h6 {
  @apply text-h6 font-medium;
}

b,
strong {
  @apply font-semibold;
}

code {
  @apply after:border-none;
}

.herohubs-section {
  background-image: url("/images/herohubs-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: herohubs-moveBg 30s linear infinite alternate;
}

@keyframes herohubs-moveBg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px 0;
  }
}
