---
import Post from '@/components/Post.astro';
import Base from '@/layouts/Base.astro';
import { getSinglePage } from '@/lib/contentParser.astro';
import { getTaxonomy } from '@/lib/taxonomyParser.astro';
import taxonomyFilter from '@/lib/utils/taxonomyFilter';
import PageHeader from '@/partials/PageHeader.astro';

// get static paths for all categories
export async function getStaticPaths() {
  const categories = await getTaxonomy('posts', 'categories');

  return categories.map((category) => {
    return {
      params: { category },
    };
  });
}

const { category } = Astro.params;

// get posts by category
const posts = await getSinglePage('posts');
const filterByCategories = taxonomyFilter(posts, 'categories', category!);
---

<Base meta_title={category}>
  <div class="section herohubs-section">
    <PageHeader title={category} />
    <section class="section-sm ml-5 mr-5">
      <div class="container">
        <div class="row">
          <div class="container">
            <div class="row gy-4">
              {filterByCategories.map((post) => <Post className="sm:col-6" post={post} />)}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</Base>
