---
import ImageMod from '@/components/ImageMod.astro';
import Pagination from '@/components/Pagination.astro';
import Post from '@/components/Post.astro';
import Social from '@/components/Social.astro';
import config from '@/config/config.json';
import social from '@/config/social.json';
import Base from '@/layouts/Base.astro';
import { getSinglePage } from '@/lib/contentParser.astro';
import { sortByDate } from '@/lib/utils/sortFunctions';
import { markdownify } from '@/lib/utils/textConverter';

const posts = await getSinglePage('posts');
const { pagination } = config.settings;
const { name, image, designation, bio } = config.profile;
const sortPostByDate = sortByDate(posts);
---

<Base meta_title={config.blog.title} description={config.blog.meta_description}>
  <div class="section herohubs-section">
    <div class="container">
      <div class="row">
        <div class="mx-auto lg:col-10">
          <h1 class="text-center capitalize font-normal">{config.blog.title}</h1>
          <div class="row pt-12 gy-4">
            {sortPostByDate.slice(0, pagination).map((post) => <Post className="col-12 sm:col-6" post={post} />)}
          </div>
          <div class="mt-12">
            <Pagination totalPages={Math.ceil(posts.length / pagination)} currentPage={1} />
          </div>
        </div>
      </div>
    </div>
  </div>
</Base>
