---
const { className } = Astro.props;
import { blocks } from '@/config/home.json';
---

{
  blocks.map((item, index) => (
    <section class={className} id={`main-blocks-${index}`}>
      <div class="rounded-4xl p-12 lg:p-9 h-full bg-body border border-border bg-body/85">
        <ul class="flex items-center space-x-4">
          <h4 class="text-primary flex-1 text-center truncate">{item.title}</h4>
        </ul>
        <p class="my-4 text-center">{item.text}</p>
      </div>
    </section>
  ))
}
