---
const { className } = Astro.props;
import articles from "@/config/home/blog.json";

import ImageMod from "@/components/ImageMod.astro";
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import theme from "@/config/theme.json";
import social from "@/config/social.json";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { markdownify } from "@/lib/utils/textConverter";
import Pagination from "@/components/Pagination.astro";
import Post from "@/components/Post.astro";

const posts = await getSinglePage("posts");
const { pagination } = config.settings;
const { name, image, designation, bio } = config.profile;
const { primary } = theme.colors.default.theme_color;

const sortPostByDate = sortByDate(posts);
---

<section class={className} id="education">
  <div
    class="rounded-2xl p-12 lg:p-9 h-full bg-body border border-border bg-body/90"
  >
    <p class="my-4">
      <ul class="space-y-6">
        <li class="border-border">
          <h6 class="text-center">{articles.title}</h6>
        </li>
      </ul>
      <div class="w-full flex items-center justify-center">
        <div class="pt-6">
          <div class="container mx-auto px-4 overflow-hidden">
            <div class="max-w-6xl mx-auto flex">
              <div class="flex flex-wrap gap-x-4 gap-y-4 justify-center">
                {
                  sortPostByDate
                    .slice(0, 6)
                    .map((post) => (
                      <Post className="flex-shrink-0 w-90 h-100" post={post} />
                    ))
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </p>
  </div>
</section>
