---
import type { HomeData } from '@/interfaces';
import { loadLocalizedConfig } from '@/lib/utils/lang';
const { className } = Astro.props;
const { lang } = Astro.params;
const home: HomeData = await loadLocalizedConfig(lang, 'home');
---

<section class={className} id="how">
  <div class="rounded-4xl p-12 lg:p-9 h-full border border-border bg-body/85">
    <p class="my-4">
      <ul class="space-y-6">
        <li class="border-border">
          <h6 class="text-center bold">{home.how.subtitle}</h6>
          <p class="text-muted-foreground text-center my-4">
            {home.how.text1}
          </p>
          <p class="text-muted-foreground text-center my-4">
            {home.how.text2}
          </p>
        </li>
      </ul>
    </p>
  </div>
</section>
