---
const { className } = Astro.props;
import overview from '@/config/home/main-blocks.json';
---

{
  overview.map((item, index) => (
    <section class={className} id={`main-blocks-${index}`}>
      <div class="rounded-xl p-12 lg:p-9 h-full bg-body border border-border bg-body/90">
        <ul class="flex items-center space-x-4">
          <h4 class="text-primary flex-1 text-center truncate">{item.title}</h4>
        </ul>
        <p class="my-4 text-center">{item.description}</p>
      </div>
    </section>
  ))
}
