---
const { className } = Astro.props;
import overview from "@/config/home/overview.json";
---

{
  overview.map((item, index) => (
    <section class={className} id={`overview-${index}`}>
      <div class="rounded border border-primary p-12 lg:p-9 h-full">
        <ul class="flex items-center space-x-4">
          <h4 class="text-primary flex-1 text-center">{item.title}</h4>
        </ul>
        <p class="my-4 text-center">{item.description}</p>
      </div>
    </section>
  ))
}
