---
const { className } = Astro.props;
import { why } from '@/config/home.json';
---

<section class={className} id="why">
  <div class="rounded-4xl p-12 lg:p-9 h-full border border-border bg-body/85">
    <p class="my-4">
      <ul class="space-y-6">
        <li class="border-border">
          <p class="text-muted-foreground text-center my-4">
            {why.text1}
          </p>
          <p class="text-muted-foreground text-center my-4">
            {why.text2}
          </p>
        </li>
      </ul>
    </p>
  </div>
</section>
