---
import Base from '@/layouts/Base.astro';

export async function getStaticPaths() {
  const languages = ['it', 'en'];
  return languages.map((lang) => ({
    params: { lang },
  }));
}

const { lang } = Astro.params;
---

<Base title="Page Not Found" lang={lang}>
  <section class="section-sm text-center">
    <div class="container">
      <div class="row justify-center">
        <div class="sm:col-10 md:col-8 lg:col-6">
          <span class="text-[8rem] block font-bold text-text-dark">404</span>
          <h1 class="h2 mb-4">Page not found</h1>
          <div class="content">
            <p>
              The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
            </p>
          </div>
          <a href={`/${lang}`} class="btn btn-primary mt-8">
            {lang === 'it' ? 'Indietro' : 'Back'}
          </a>
        </div>
      </div>
    </div>
  </section>
</Base>
